DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=
DB_HOST=
DB_PORT=
DB_APP_USER=
DB_APP_PASSWORD=
DB_DDL_USER=
DB_DDL_PASSWORD=
